# Imports

In [1]:
import pandas as pd

# Creating data

In [2]:
# numeric value in Dataframe
pd.DataFrame({'Yes': [50,21], 'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [3]:
# string value in DataFrame
pd.DataFrame({'haha': ['laugh', 'evil laugh'], 'ball':['Football','Cricket']})

         haha      ball
0       laugh  Football
1  evil laugh   Cricket

In [4]:
#Series
pd.Series([1,1,1,1,1])

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [6]:
pd.Series([122,332,321], index=['month 1', 'month 2','month 3'], name='Monthly Data')

month 1    122
month 2    332
month 3    321
Name: Monthly Data, dtype: int64

# Reading Data Files

In [7]:
data = pd.read_csv('flight_delays.csv')

In [8]:
# shape of the dataframe
data.shape

(12, 15)

In [9]:
#first five datas
data.head()

,Month,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
0,1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
1,2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
2,3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
3,4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
4,5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777

In [12]:
# picking on builtin index of the dataframe
data = pd.read_csv('flight_delays.csv', index_col=0)

In [11]:
data.head()

,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
Month,,,,,,,,,,,,,,
1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777