# Setup

In [1]:
import pandas as pd
import numpy as np
data_flight = pd.read_csv('fifa.csv', index_col=0)

# Summary Functions

In [3]:
# describe method
data_flight.ARG.describe()

count    286.000000
mean       5.454545
std        4.012659
min        1.000000
25%        3.000000
50%        5.000000
75%        7.000000
max       24.000000
Name: ARG, dtype: float64

In [4]:
data_flight.ARG.mean()

5.454545454545454

In [5]:
data_flight.ARG.unique()

array([ 5., 12.,  9.,  8., 10.,  6.,  7., 15., 24., 22., 17., 19., 18.,
       21., 16., 13.,  3.,  2.,  4., 11.,  1.])

In [6]:
data_flight.ARG.value_counts()

3.0     53
5.0     38
2.0     32
6.0     26
4.0     26
1.0     26
7.0     23
8.0     18
9.0     13
10.0    12
19.0     3
13.0     3
17.0     3
22.0     2
11.0     2
15.0     1
24.0     1
12.0     1
18.0     1
21.0     1
16.0     1
Name: ARG, dtype: int64

# Map

In [7]:
ARG_mean = data_flight.ARG.mean()
data_flight.ARG.map(lambda p: p -ARG_mean)

Date
1993-08-08   -0.454545
1993-09-23    6.545455
1993-10-22    3.545455
1993-11-19    3.545455
1993-12-23    2.545455
                ...
2018-02-15   -1.454545
2018-03-15   -1.454545
2018-04-12   -0.454545
2018-05-17   -0.454545
2018-06-07   -0.454545
Name: ARG, Length: 286, dtype: float64

In [8]:
# applying function
def half_val(row):
    row.ARG = row.ARG/2
    return row

data_flight.apply(half_val, axis='columns')

            ARG  BRA   ESP   FRA  GER   ITA
Date
1993-08-08  2.5  8.0  13.0  12.0  1.0   2.0
1993-09-23  6.0  1.0  14.0   7.0  5.0   2.0
1993-10-22  4.5  1.0   7.0  14.0  4.0   3.0
1993-11-19  4.5  4.0   7.0  15.0  3.0   1.0
1993-12-23  4.0  3.0   5.0  15.0  1.0   2.0
...         ...  ...   ...   ...  ...   ...
2018-02-15  2.0  2.0   6.0   9.0  1.0  14.0
2018-03-15  2.0  2.0   6.0   9.0  1.0  14.0
2018-04-12  2.5  2.0   8.0   7.0  1.0  20.0
2018-05-17  2.5  2.0   8.0   7.0  1.0  20.0
2018-06-07  2.5  2.0  10.0   7.0  1.0  19.0

[286 rows x 6 columns]